datasets/cmaps
datasets/temp
datasets/pdb_structures*
datasets/af_uniprot_to_gene_id.json
datasets/seq_for_mut_prob.csv
datasets/confidence.csv
datasets_frag/cmaps
datasets_frag/cmaps_12a
datasets_frag/cmaps_14a
datasets_frag/cmaps_8a
datasets_frag/cmaps_6a
datasets_frag/temp
datasets_frag/pdb_structures*
datasets_frag/af_uniprot_to_gene_id.json
datasets_frag/seq_for_mut_prob.csv
datasets_frag/confidence.csv
datasets_mouse/cmaps
datasets_mouse/temp
datasets_mouse/pdb_structures*
datasets_mouse/af_uniprot_to_gene_id.json
datasets_mouse/seq_for_mut_prob.csv
datasets_mouse/confidence.csv
tests/output/*
!tests/output/.gitkeep
__pycache__
scripts/test.qmap
scripts/run_*
scripts/submit*