datasets/cmaps
datasets/temp
datasets/pdb_structures*
datasets_mouse/cmaps
datasets_mouse/pdb_structures*
tests/output/*
!tests/output/.gitkeep
__pycache__
scripts/test.qmap
scripts/run_*
scripts/submit*