// Global default params

trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

params {
    // Pipeline options
    outdir                = "./"
    outsubdir             = "run_${trace_timestamp}"
    cohort_pattern        = "*"
    data_dir              = "${baseDir}/../datasets"
    annotations_dir       = "${baseDir}/../annotations"
    conda_env             = '/path/to/conda/environment/with/oncodrive3d'
    cores                 = 10
    memory                = "70G"
    max_running           = 5

    vep_input             = false
    mane                  = false
    ignore_mapping_issues = false
    plot                  = false
    chimerax_plot         = false

    seed                  = 128
    verbose               = false
}

profiles {
    standard {
        process.executor = 'slurm'
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    container {
        process.executor = 'slurm'
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    conda {
        process.executor = 'slurm'
        singularity.enabled = false
        conda.enabled = true
        process.conda = "${params.conda_env}"
    }

    test {
        process.executor = 'slurm'
        includeConfig 'conf/test.config'
    }
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    withName: 'ONCODRIVE3D:O3D_RUN' {
        queue    = 'bigmem,normal'
        cpus     = params.cores as int
        memory   = params.memory
        time     = '240h'
        maxForks = params.max_running as int
    }

    withName: 'ONCODRIVE3D:O3D_PLOT' {
        queue    = 'bigmem,normal'
        cpus     = 4
        memory   = '24G'
        time     = '24h'
        maxForks = params.max_running as int
    }

    withName: 'ONCODRIVE3D:O3D_CHIMERAX_PLOT' {
        queue    = 'bigmem,normal'
        cpus     = 4
        memory   = '24G'
        time     = '24h'
        maxForks = params.max_running as int
    }
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

timeline {
    enabled = true
    file    = "${params.outdir}/run_${trace_timestamp}/pipeline_info/timeline_${trace_timestamp}.html"
}

report {
    enabled = true
    file    = "${params.outdir}/run_${trace_timestamp}/pipeline_info/report_${trace_timestamp}.html"
}

trace {
    enabled = true
    fields  = 'process,task_id,hash,name,attempt,status,exit,realtime,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
    file    = "${params.outdir}/run_${trace_timestamp}/pipeline_info/trace_${trace_timestamp}.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/run_${trace_timestamp}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'bbglab/Oncodrive3D'
    author          = "Stefano Pellegrini"
    homePage        = 'https://github.com/bbglab/oncodrive3d'
    description     = "Oncodrive3D : Oncodrive3D is a method designed to analyse patterns of somatic mutations across tumors and normal tissues to identify three-dimensional clusters of missense mutations and detect genes that are under positive selection."
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.8'
    doi             = ''
}